.box {
  width: 20%;
  height: 300px;
  background-color: #cbcfd5;
}

.box:hover {
  cursor: pointer;
  box-shadow: var(--a-shadow-medium);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 90%;
  margin-top: 37.5%;
  margin-left: 10%;
}

.block {
  display: flex;
  justify-content: center;
}
