.hovedDiv {
  display: flex;
  gap: 16px;
}

.risikoeierDiv {
  display: flex;
  gap: 8px;
}
.risikoeierRadio {
  display: flex;
  gap: 16px;
}

.selectDiv {
  display: flex;
  width: 50%;
  gap: 16px;
}
