.hovedDiv {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.risikoeierDiv {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.risikoeierRadio {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .contentDiv2 {
    width: 70%;
  }
}
