.verdier {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
  width: 100%;
}

.leggTil {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: #0067c5;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}

.leggTil:hover {
  cursor: pointer;
  background-color: #0067c5;
  color: #fff;
  transform: scale(1.3);
}

.parentDiv {
  margin-bottom: 32px;
  /* background-color: var(--a-gray-50); */
  width: 100%;
  display: flex;
}

.contentDiv {
  position: relative;
  width: 80%;
}
.trashcan {
  color: white;
  cursor: pointer;
  width: 167px;
  display: flex;
}

.vstack {
  margin-left: 5%;
  width: 80%;
}

.dependentRiskDiv {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 4px;
  width: 50%;
  margin-left: 16px;
}
.dependentRiskRadio {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.alert {
  margin-top: 300px;
  position: absolute;
}

.trashcan {
  color: white;
  cursor: pointer;
  width: 130px;
  height: 40px;
  display: flex;
}

.riskLevelDiv {
  display: flex;
  position: relative;
}

.riskLevelText {
  position: absolute;
}

.riskLevelColorBox {
  border: 1px solid;
  width: 20px;
  height: 20px;
  margin-left: 70px;
}

.addRiskDiv {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 32px;
  margin-bottom: 32px;
}

.dropdownComp {
  width: 50%;
}

.categoryDiv {
  margin-top: 16px;
  display: flex;
}

.chart-container {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.skjemaDiv1 {
  background-color: white;
  width: 38vw; /* Adjust the width so two elements can fit side by side */
  margin-left: 1.5vw;
  margin-right: 1vw;
  border-radius: 5px;
  margin-top: 5vh;
  border: 1px solid #c6c2bf; /* Fixing the border syntax */
}
.skjemaDiv2 {
  background-color: white;
  width: 38vw; /* Adjust the width so two elements can fit side by side */
  margin-left: 1vw;
  margin-right: 1.5vw;
  border-radius: 5px;
  margin-top: 5vh;
  border: 1px solid #c6c2bf; /* Fixing the border syntax */
}

.skjemaDiv {
  background-color: white;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 5px;
  margin-top: 5vh;
  border: 1px, solid, #c6c2bf;
}
