.parentDiv {
  margin-top: 32px;
  position: relative;
}

.actionDiv {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.actionDiv:hover {
  cursor: pointer;
  text-decoration: underline;
}

.actionText {
  margin-left: 10px;
}

.tiltakMainDiv {
  margin-left: 25px;
  position: relative;
  margin-bottom: 32px;
  background-color: #f7f8f8;
  border-radius: 5px;
}

.tiltakRadio {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.radio {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.close {
  position: "absolute";
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.verdier {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}
